[project]
	description = Matlab assignments
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Vijayan (VijayanB)
[access "refs/for/refs/*"]
	read = group user/Vijayan (VijayanB)
	push = group user/Vijayan (VijayanB)
	label-Code-Review = -2..+2 group user/Vijayan (VijayanB)
	label-Verified = -1..+1 group user/Vijayan (VijayanB)
	rebase = group user/Vijayan (VijayanB)
	removeReviewer = group user/Vijayan (VijayanB)
	submit = group user/Vijayan (VijayanB)
[access "refs/heads/*"]
	read = group user/Vijayan (VijayanB)
	create = group user/Vijayan (VijayanB)
	push = +force group user/Vijayan (VijayanB)
	pushMerge = group user/Vijayan (VijayanB)
[access "refs/tags/*"]
	push = +force group user/Vijayan (VijayanB)
	pushTag = group user/Vijayan (VijayanB)
	pushSignedTag = group user/Vijayan (VijayanB)
